<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Image Classification</title>
</head>
<body>
    <h1>Image Classification</h1>
    <form action="{% url 'classify_image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>
</body>
</html>